header {
  nav {
    background-color: $color-pale-blue;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .logo {
      background: none;
      img {
        width: 5rem;
        height: 5rem;
      }
    }
    .header-menu {
      display: flex;
      gap: 1rem;
      a {
        width: auto;
        padding: 1rem;
        color: $color-white;
        border-radius: 0.6rem;
      }
    }
  }
}

.hero{
  height: 90vh;
  width: 100vw;
 margin: 0 auto;
  background: url("@/assets/infograph.jpg") top center no-repeat;
  background-size: contain; /* Makes the image cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center;
  
}
