.input-component {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
    transition: all 0.2s ease-in-out;
    position: relative;

    input {
      width: 100%;
      height: 4rem;
      border: none;
      border-bottom: 0.1rem solid $color-black;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 2.2rem;
      color: $color-black;
      padding: 1rem;
      outline: none;
      background-color: transparent;
  
      &:focus,
      &:hover {
        cursor: pointer;
        outline: none;
        border-bottom: 0.01rem solid $color-black;
        border-radius: 0;
      }
    }
  
    label {
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 2.2rem;
      height: 1.7rem;
      color: $color-black;
     
    }
    &.is-invalid{
        input{
            border-bottom: 0.1rem solid $color-red;
        }
        label{
            color: $color-red;
        }
    }
  
    input:placeholder-shown + label {
      transform: translate(0, 1.75rem) scale(1);
    }
  
    input:focus + label {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.7rem;
     
    }
  
    ::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }
    input:not(:placeholder-shown) + label {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.7rem;
      color: $color-black;
    }
  
    input:not(:placeholder-shown) + label,
    input:focus + label {
      transform: translate(0, 0) scale(1);
    }
    label,
    input {
      transition: all 0.2s;
      touch-action: manipulation;
    }
  }

  .search{
    input{
      
    }
  }
  .no-events-available{
    font-size: 2.8rem;
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }