.popup-overlay {
  background-color: rgba(142, 142, 142, 0.3);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  .popup {
    background-color: #fff;
    box-shadow: 0 0 3rem 0 #0000001a;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    h1 {
      font-size: 1.8rem;
    }
    .buttons-wrapper {
      display: flex;
      gap: 2rem;
      width: 100%;
      button{
       flex-grow: 1;
      }
    }
  }
}
