.table {
  margin: 4rem 0;
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: none;

  caption {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 100%;
    color: $color-black;
    margin: 0 0 2rem;
  }

  .table-row {
    display: table-row;
    width: 100%;
    border-bottom: 0.1rem solid $color-black;
    th {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 100%;
      color: $color-black;
      padding: 1.5rem;
      text-align: center;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
    }

    .table-data {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 100%;
      color: $color-black;
      padding: 1.5rem;
      max-width: 2.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
    }
  }
}
